div.dialog-header {
    display: flex;
}

span.header-text {
    position: relative;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
}

span.fill-space {
    flex: 1 1 auto;
}

.full-width {
    width: 100%;
}