div.list-cards{
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}

div.list-card{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

span.list-card-text{
    overflow: hidden;
    padding: 6px 6px 2px 8px;
    position: relative;
    z-index: 10;
    clear: both;
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    color: #4d4d4d;
    min-height: 20px;
}

div.card-wrapper{
    border-radius: 0 0 3px 3px;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0px 8px 8px;
    position: relative;
    text-decoration: none;
}

div.is-idle{
    cursor: pointer;
}

span.card-text{
    color: #838c91;
}

div.card-entry-input{
    background: white;
    padding: 6px 6px 2px 8px;
    margin: 0 0 4px;
}

.full-width {
    width: 100%;
}

span.list-card-text button.mat-icon-button{ 
    padding: 0;
    min-width: 0;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    line-height: 28px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: calc(100% - 28px);
    bottom: 0;
    right: 0;
    visibility: hidden;
}

mat-icon#icon-edit{
    font-size: 16px;
    color: #999;
}

mat-icon#icon-edit.active-icon{
    color: #4d4d4d;
}

div.active-card{
    background-color: #edeff0;
    border-bottom-color: #d6dadc;
}

div.active-card button.mat-icon-button{
    visibility: visible;
}