div#error-message{
  position: relative;
  height: calc(~'100% - 64px');
  background-color: black;
  > .mat-icon {
    color: yellow;
    font-size: 250%;
    height: 35px;
    width: 50px;
  }
  > span.error-message, span.error-title {
    color: white;
    font-size: 150%;
  }
}
